<PRE><font size=3>ACCESSION     	BLAST MATCH	    MASS %HITS   SCORE START  STOP    NAME

<font color="green">QGQEALFSEDMI  Start# None End# None True</font>
<b><a href=**Q8NAM6*138*149 >****Q8NAM6****</a></b>	QGQEALFSEDM	 1350.58    91    0.00   138   149    ZSCA4_HUMAN Zinc finger and SCAN domain-containing protein 4 OS=Homo sapiens GN=ZSCAN4 PE=2 SV=1
<b><a href=**Q7Z7L9-4*40*51 >***Q7Z7L9-4***</a></b>	QEAVLQED   	 1369.65    41    0.16    40    51    ZSCA2_HUMAN Isoform 4 of Zinc finger and SCAN domain-containing protein 2 OS=Homo sapiens GN=ZSCAN2
<b><a href=**Q7Z7L9-3*40*51 >***Q7Z7L9-3***</a></b>	QEAVLQED   	 1369.65    41    0.16    40    51    ZSCA2_HUMAN Isoform 3 of Zinc finger and SCAN domain-containing protein 2 OS=Homo sapiens GN=ZSCAN2</font></PRE>