<PRE><font size=3><font color="green">***Zinc & not Isoform***</font>

<font color="green">**Accession**	**UniProt ID**	Protein Name</font>

<b><a href=**Q8NAM6*1*0>***Q8NAM6***</a></b>	ZSCA4_HUMAN	<b>Zinc</b> finger and SCAN domain-containing protein 4 OS=Homo sapiens GN=ZSCAN4 PE=2 SV=1</font></PRE>